/* Document level adjustments */
@media (max-width: 56.25rem) {
  /* 16 * 56.25 = 900px */
  html {
    font-size: 14px;
  }
}
@media (max-width: 25rem) {
  /* 16 * 25 = 400px */
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}
